.idea/
ethz-cil-text-classification-2025/GoogleNews-vectors-negative300.bin
ethz-cil-text-classification-2025/models/*
ethz-cil-text-classification-2025/configs/*
ethz-cil-text-classification-2025/models_pretrained/*