.idea/
*optuna_study.db
mlruns
data/MNIST/
ethz-cil-text-classification-2025/GoogleNews-vectors-negative300.bin
ethz-cil-text-classification-2025/models/*
ethz-cil-text-classification-2025/configs/*
ethz-cil-text-classification-2025/models_pretrained/*

Hyperparameters/Dataloader/__pycache__/DynamicUnderSampler.cpython-313.pyc
Hyperparameters/Dataloader/__pycache__/EmbeddingDataset.cpython-313.pyc
Hyperparameters/Dataloader/__pycache__/collate_fn.cpython-313.pyc
Hyperparameters/Embeddings/__pycache__/BaseEmbedding.cpython-313.pyc
Hyperparameters/Embeddings/__pycache__/BatchProcessor.cpython-313.pyc
Hyperparameters/Embeddings/__pycache__/BertPreTrained.cpython-313.pyc
Hyperparameters/Embeddings/__pycache__/BertPreTrainedClassifier.cpython-313.pyc
Hyperparameters/Embeddings/__pycache__/BertTokenEmbedder.cpython-313.pyc
Hyperparameters/Embeddings/__pycache__/BowEmbedding.cpython-313.pyc
Hyperparameters/Embeddings/__pycache__/TFIDFEmbedding.cpython-313.pyc
Hyperparameters/Embeddings/__pycache__/VectorizerEmbedding.cpython-313.pyc
Hyperparameters/Embeddings/__pycache__/Word2VecEmbedding.cpython-313.pyc
Hyperparameters/Embeddings/__pycache__/Word2VecEmbedding2.cpython-313.pyc
Hyperparameters/Embeddings/__pycache__/__init__.cpython-313.pyc
Hyperparameters/Models/__pycache__/BaseMLP.cpython-313.pyc
Hyperparameters/Models/__pycache__/BaseModel.cpython-313.pyc
Hyperparameters/Models/__pycache__/BertPreTrainedClassifier.cpython-313.pyc
Hyperparameters/Models/__pycache__/CustomLoss.cpython-313.pyc
Hyperparameters/Models/__pycache__/DropoutMLP.cpython-313.pyc
Hyperparameters/Models/__pycache__/LSTMClassifier.cpython-313.pyc
Hyperparameters/Models/__pycache__/LinearMLP.cpython-313.pyc
Hyperparameters/Models/__pycache__/ModelDummy.cpython-313.pyc
Hyperparameters/Models/__pycache__/NonLinearMLP.cpython-313.pyc
Hyperparameters/Models/__pycache__/__init__.cpython-313.pyc
Hyperparameters/Objectives/__pycache__/BaseObjective.cpython-313.pyc
Hyperparameters/Objectives/__pycache__/TestObjective.cpython-313.pyc
Hyperparameters/Objectives/__pycache__/__init__.cpython-313.pyc
Hyperparameters/Training/__pycache__/ActiveLearningLoop.cpython-313.pyc
Hyperparameters/Training/__pycache__/BasicTrainingLoop.cpython-313.pyc
Hyperparameters/Training/__pycache__/BasicValidationLoop.cpython-313.pyc
Hyperparameters/Training/__pycache__/__init__.cpython-313.pyc
Hyperparameters/Utils/__pycache__/Dashboards.cpython-313.pyc
Hyperparameters/Utils/__pycache__/GitUtils.cpython-313.pyc
Hyperparameters/Utils/__pycache__/Misc.cpython-313.pyc
Hyperparameters/Utils/__pycache__/__init__.cpython-313.pyc
Hyperparameters/__pycache__/registry.cpython-313.pyc
Hyperparameters/data/MNIST/raw/t10k-images-idx3-ubyte
Hyperparameters/data/MNIST/raw/t10k-images-idx3-ubyte.gz
Hyperparameters/data/MNIST/raw/t10k-labels-idx1-ubyte
Hyperparameters/data/MNIST/raw/t10k-labels-idx1-ubyte.gz
Hyperparameters/data/MNIST/raw/train-images-idx3-ubyte
Hyperparameters/data/MNIST/raw/train-images-idx3-ubyte.gz
Hyperparameters/data/MNIST/raw/train-labels-idx1-ubyte
Hyperparameters/data/MNIST/raw/train-labels-idx1-ubyte.gz
ethz-cil-text-classification-2025/__pycache__/custom_dataloader.cpython-311.pyc
ethz-cil-text-classification-2025/__pycache__/custom_dataloader.cpython-313.pyc
ethz-cil-text-classification-2025/__pycache__/embeddings.cpython-313.pyc
ethz-cil-text-classification-2025/__pycache__/models.cpython-313.pyc
Hyperparameters/data/MNIST/raw/*

*/__pycache__/*
*.gz
*.pyc
